# Test 
*_test 

# Prerequisites
*.d

# lcov
*.gcda
*.gcno
lcov_output/
lcov.info

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-debug
*.o
*.pyc
*.swp
*.swo
.DS_Store
Makefile.dep
make_config.mk
.vscode/*
tmp
out
*.make-cflags
*.make-ldflags
*.make-prerequisites

# Perf
perf.*

# svg
out.svg
out.perf-folded

latte_go_monitor
monitor.log*